<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        html,body{height: 100%;width: 100%;margin:0;padding:0;}
        body {
            background: url(/static/img/404.png) no-repeat;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            position: absolute;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/img/404.png', sizingMethod='scale');
        }
    </style>
</head>
<body>

</body>
</html>